<!DOCTYPE html>
<html>
<head>
	<title>Flask Web App</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">	

	<style type="text/css">
		body{
			background-color: #FE2E64;
			font-family: 'Montserrat', sans-serif;
		}
		.footer {
		   position: fixed;
		   left: 0;
		   bottom: 0;
		   width: 100%;
		   color: black;
		   text-align: center;
		}
	</style>
</head>
<body>
	<div class="container">	
		{% block content %}

		{% endblock %}
	</div>
	<div class="footer">
		<a href="https://lit-brook-22563.herokuapp.com/" style="color:white"> Home Page </a>
		&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
	  <a href="https://github.com/Mihir-Rajora20/Reddit-Flair-Detector" style="color:white">See the entire project at my Github: Mihir-Rajora-20
	  </a>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	
</body>
</html>